/* Set the global variables for everything. Change these to use your own fonts/colours. */
:root {

  /* Set sans-serif & mono fonts */
  --sans-font: apple-system, BlinkMacSystemFont, avenir next, avenir, "Nimbus Sans L", roboto, noto, segoe ui, arial, helvetica, helvetica neue, sans-serif;
  --mono-font: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Default (light) theme */
  --bg: #fff;
  --accent-bg: #F5F7FF;
  --text: #212121;
  --text-light: #666;
  --border: #D8DAE1;
  --accent: #473776;
  --accent-light: #90CAF9;
  --code: #D81B60;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #212121;
    --accent-bg: #2b2b2b;
    --text: #ababab;
    --text-light: #808080;
    --border: #666;
    --accent: #6a53b1;
    --accent-light: #FFECB3;
    --code: #F06292;
  }

  img {
    opacity: .6;
  }
}

* {
  /* Set the font globally */
  font-family: var(--sans-font);
}

/* Make the body a nice central block */
body {
  color: var(--text);
  background: var(--bg);
  font-size: 1.15rem;
  line-height: 1.5;
  margin: 0;
}

/* Make the main element a nice central block */
main {
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 45rem;
  padding: 0 .5rem;
}

/* Make the header bg full width, but the content inline with body */
header {
	background: var(--accent-bg);
	border-bottom: 1px solid var(--border);
  padding: 1.5rem 15rem;
  margin-bottom: 3rem;
}

/* Reduces header padding on smaller screens */
@media only screen and (max-width: 1200px) {
  header {
    padding: 1rem;
  }
}

/* Remove margins for header text */
header h1,
header p {
  margin: 0;
}

/* Format navigation */
nav {
  font-size: 1rem;
  white-space: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  line-height: 2;
  padding: 1rem 0;
}

nav a {
  margin: 0 1rem 0 0;
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--text) !important;
  display: inline-block;
  padding: .1rem 1rem;
  text-decoration: none;
  transition: .4s;
}

nav a:hover {
  color: var(--accent) !important;
  border-color: var(--accent);
}

nav a.current:hover {
  text-decoration: none;
}

footer {
  margin-top: 4rem;
  padding: 2rem 1rem 1.5rem 1rem;
  color: var(--text-light);
  font-size: .9rem;
  text-align: center;
  border-top: 1px solid var(--border);
}

/* Format headers */
h1 {
	font-size: 2.25rem;
}

h2 {
	font-size: 1.85rem;
  margin-top: 3rem;
}

h3 {
	font-size: 1.55rem;
  margin-top: 3rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1.15rem;
}

h6 {
	font-size: .9rem;
}

/* Format links & buttons */
a,
a:visited {
  color: var(--accent);
}

a:hover {
  text-decoration: none;
}

a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: none;
  border-radius: 5px;
  background: var(--accent);
  font-size: 1rem;
  color: var(--bg);
  padding: .7rem .9rem;
  margin: .5rem 0;
  transition: .4s;
}

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
	cursor: default;
	opacity: .5;
	cursor: not-allowed;
}

button:focus,
button:enabled:hover,
input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover {
	opacity: .8;
}

/* Format the expanding box */
details {
	padding: .6rem 1rem;
	background: var(--accent-bg);
	border: 1px solid var(--border);
	border-radius: 5px;
  margin-bottom: 1rem;
}

summary {
	cursor: pointer;
	font-weight: bold;
}

details[open] {
	padding-bottom: .75rem;
}

details[open] summary {
	margin-bottom: .5rem;
}

details[open]>*:last-child {
	margin-bottom: 0;
}

/* Format tables */
table {
	border-collapse: collapse;
	width: 100%
}

td,
th {
	border: 1px solid var(--border);
	text-align: left;
	padding: .5rem;
}

th {
	background: var(--accent-bg);
  font-weight: bold;
}

tr:nth-child(even) {
	/* Set every other cell slightly darker. Improves readability. */
	background: var(--accent-bg);
}

table caption {
	font-weight: bold;
	margin-bottom: .5rem;
}

/* Lists */
ol,
ul {
	padding-left: 3rem;
}

/* Format forms */
textarea,
select,
input {
	padding: 6px 12px;
	margin-bottom: .5rem;
  color: var(--text);
	background: var(--bg);
	border: 1px solid var(--border);
	border-radius: 5px;
	box-shadow: none;
	box-sizing: border-box;
}

/* Misc body elements */

hr {
	color: var(--border);
  border-top: 1px;
	margin: 1rem auto;
}

mark {
	padding: 3px 6px;
	background: var(--accent-light);
}

main img {
  max-width: 100%;
  border-radius: 5px;
}

figure {
  margin: 0;
}

figcaption {
  font-size: .9rem;
  color: var(--text-light);
  text-align: center;
  margin-bottom: 1rem;
}

blockquote {
  margin: 2rem 0 2rem 2rem;
  padding: .4rem .8rem;
	border-left: .35rem solid var(--accent);
	opacity: .8;
	font-style: italic;
}

cite {
  font-size: 0.9rem;
  color: var(--text-light);
  font-style: normal;
}

/* Use mono font for code like elements */
code,
pre,
kbd,
samp {
	font-family: var(--mono-font);
  font-size: 1.1rem;
  color: var(--code);
}

kbd {
  border: 1px solid var(--code);
	border-bottom: 3px solid var(--code);
  border-radius: 5px;
  padding: .1rem;
}

pre {
	padding: 1rem 1.4rem;
	max-width: 100%;
	overflow: auto;
  background: var(--accent-bg);
  border: 1px solid var(--border);
  border-radius: 5px;
}

/* Fix embedded code within pre */
pre code {
    color: var(--text);
    background: none;
    margin: 0;
    padding: 0;
}
